/* General styles for the home container */
.home {
    position: relative;
    background: url('/src/assets/welcomepagebg.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 30px; 
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Home content styling */
.home-content {
    max-width: 700px;
    background: rgba(255, 154, 2, 0.153);
    padding: 90px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(255, 15, 15, 0.15);
    text-align: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);    
}

.home-content h1 {
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.home-content h3 {
    color: #335ff3;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.496);
}

.home-content .highlight {
    color: #ffd700;
    font-weight: bold;
}

.home-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

.explore-button {
    padding: 12px 25px;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(45deg, #ff6a00, #ee0979);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 105, 135, 0.6);
}

/* Search content styling */
.search-content {
    margin-top: 50px;
    max-width: 700px;
    padding: 90px;
    background: rgba(255, 154, 2, 0.153);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(255, 15, 15, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
}

.search-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffd700;
}

.search-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.search-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(45deg, #ff6a00, #ee0979);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 105, 135, 0.6);
}
