.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo img {
  height: 60px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: rgb(1, 28, 107);
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Responsive styles */
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(1, 28, 107);
}

.navbar-toggle-icon {
  font-size: 24px;
}

/* Hide navbar links initially for small screens */
.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links-active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

@media (max-width: 768px) {
  .navbar-links {
      display: none;
      gap: 10px;
  }

  .navbar-toggle {
      display: block;
  }

  .navbar-links-active {
      display: flex;
  }
}
