.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}

.navbar-logo img {
  padding-left: 5px;
  height: 80px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

.navbar-links {
  padding-left: 450px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: rgb(1, 28, 107);
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
.navbar-login {
  padding-left: 350px;
  list-style: none;
  display: flex;
  gap: 20px;
}
